/* Your existing styles */
/* Responsive styling */
@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden; /* Hide horizontal scrollbar */
        overflow-y: auto; /* Hide vertical scrollbar */
    }

    /* Adjust styles for screens smaller than 768px width */
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-nav {
        width: 100%;
    }

    #navLinks {
        margin-top: 50%;
        line-height: 2;
        margin-bottom: -30%;
        display: block; /* Hide nav links by default */
    }

    .icon {
        display: block;
        margin: 10px;
    }

    #navLinks.show {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #navLinks.show li {
        margin: 10px 0;
    }

    .logo {
        order: -1; /* Move logo to the top */
    }

    .logo img {
        width: 100px; /* Adjust as needed */
        height: auto;
    }

    #heading {
        margin-top: 15%;
        font-size: 24px;
        line-height: 36px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .header-2 {
        margin-top: 0%;
    }

    #margin {
        margin-top: 120%;
    }

    .notebook {
        margin-left: -5%;
    }

    .heading2 {
        font-size: 18px;
        margin-left: 5%;
        margin-right: 5%;
    }

    #firstpara {
        font-size: 14px;
        margin-left: 5%;
        margin-right: 5%;
    }

    #why-choose {
        font-size: 20px;
        margin-left: 5%;
    }

    .list-group {
        display: block;
        margin-left: 1%;
        margin-right: 5%;
    }

    .list-group-item {
        margin-bottom: 10px; /* Adjust as needed to reduce space between list items */
    }

    #fixation {
        margin-top: -6%;
    }

    .logo-item {
        display: block;
        padding: 10px;
    }

    .logo-image {
        width: 40px;
        height: 40px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .card-container {
        margin-left: 0;
        width: 80%;
    }

    .card {
        width: 100%;
    }

    .overlay {
        width: 260px;
        margin-left: 5%;
        margin-right: 2%;
    }

    #depthead {
        font-size: 20px;
        margin-left: 25%;
    }

    #joinus {
        font-size: 20px;
        margin-left: 5%;
    }

    #joinpara {
        font-size: 14px;
        margin-left: 5%;
        margin-right: 5%;
    }
}
