@media only screen and (max-width: 768px) {
    #heading {
        font-size: 24px;
        line-height: 36px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .heading2 {
        font-size: 18px;
        margin-left: 5%;
        margin-right: 5%;
    }

    #firstpara {
        font-size: 14px;
        margin-left: 5%;
        margin-right: 5%;
    }

    #why-choose {
        font-size: 20px;
        margin-left: 5%;
    }

    .list-group {
        display: block;
        margin-left: 5%;
        margin-right: 5%;
    }

    .logo-item {
        display: block;
        padding: 10px;
    }

    .logo-image {
        width: 40px;
        height: 40px;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .card-container {
        margin-left: 0;
        width: 80%;
    }

    .card {
        width: 100%;
    }

    .overlay {
        width: 260px;
        margin-left: 5%;
        margin-right: 2%;
    }

    #depthead {
        font-size: 20px;
        margin-left: 25%;
    }

    #joinus {
        font-size: 20px;
        margin-left: 5%;
    }

    #joinpara {
        font-size: 14px;
        margin-left: 5%;
        margin-right: 5%;
    }
}
