#heading {
    font-family: 'Abhaya Libre Medium', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 52.8px;
    margin: 0; 
    margin-left: 10%;
    margin-right: 10%;
}
.heading2 {
    font-family: 'Abhaya Libre Medium', sans-serif;
    margin: 0;
    color: #828282;
    margin-left: 10%;
    margin-right: 10%;
}
#firstpara{
    font-family: 'Abhaya Libre', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 10%;
    margin-right: 20%;
   
}
#why-choose{
    margin-top: 3%;
    margin-left: 35%;
    font-family: 'Abhaya Libre Medium', sans-serif;
    font-size: 26px;
}
.list-group {
display: flex;
width: 900px;

flex-wrap: wrap;
margin-left: 10%;

font-family: 'Calibri Light', sans-serif;
font-weight: 600;
gap: 100px; 
}
.list-group-item {
font-size: 18px;
flex: 1;
list-style-type: none;
}
.list-group-item img {
vertical-align: middle; 
margin-right: 10px; 
height: 50px;
}

#depthead{
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    margin-left: 42%;
}


.container1 {
    display: flex;
    justify-content: center; 
}

.card-container {
    width:1000px;
   margin-left: -6%;
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap;
}

.card {
    width: calc(33.33% - 20px); 
    margin-bottom: 20px;
    position: relative;
}

.card-img {
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
  
    width: 285px;
    margin-left: 3%;
    margin-right: 4%;
    background-color: rgba(255, 255,255, 0.9); 
    color: black;
    padding-left: 8px;
    height: 50px;
}


.overlay > p{
    font-family: 'Inter', sans-serif; 

    font-weight: 500;
}

#joinus{
    font-family: 'Inria Serif', sans-serif;
    font-size: 30px;  
    margin-left:15% ;    
    font-weight: 400;                                      
}

#joinpara{
    font-family: 'Abhaya Libre Medium', sans-serif; 
    margin-left:15% ; 
     margin-right: 20%;
    font-size: 20px;
}




footer {
    background-color: #f2f2f2;
    padding: 20px 0;
    font-family: 'Inter', sans-serif; 
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.left-section {
    flex: 1;
}

.left-section h4 {
    margin-bottom: 10px;
}


.right-section {
    display: flex;
}

.column {
    flex: 1;
    margin-right: 20px;
}

.column:last-child {
    margin-right: 0;
}

.column h4 {
    margin-bottom: 10px;
}

.column ul {
    list-style-type: none;
    padding: 0;
}

.column ul li {
    margin-bottom: 5px;
}
