body {
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
    overflow-y: auto;
    /* Hide vertical scrollbar */
}
#searchhere{
    display: inline-flex;
}

#searchInput {
    width: 200px; /* Adjust width as needed */
}

/* Hide scrollbar but allow scrolling */
/* Hide scrollbar but allow scrolling */

#heading {
    font-family: 'Abhaya Libre Medium', sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 52.8px;
    margin: 0;
    margin-left: -55%;
    margin-right: 10%;
}

.heading2 {
    font-family: 'Abhaya Libre Medium', sans-serif;
    margin: 0;
    font-size: 25px;
    color: #828282;
    margin-left: -34%;
    margin-right: 10%;
}

#firstpara {
    font-family: 'Abhaya Libre', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-left: -7%;
    margin-right: 10%;
    text-align: justify;

}

#why-choose {
    margin-top: 3%;
    margin-left: 35%;
    font-family: 'Abhaya Libre Medium', sans-serif;
    font-size: 35px;
}

.icon {
    display: none
}

#margin {
    margin-top: 25%;
}

.list-group {
    display: flex;
    width: 900px;

    flex-wrap: wrap;
    margin-left: 10%;

    font-family: 'Calibri Light', sans-serif;
    font-weight: 600;
    gap: 300px;
}

.list-group-item {
    font-size: 25px;
    flex: 1;
    list-style-type: none;
}

.list-group-item img {
    vertical-align: middle;
    margin-right: 10px;
    height: 50px;
}

#depthead {
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    margin-left: 42%;
}


.container1 {
    display: flex;
    justify-content: center;
}

.card-container {
    width: 1000px;
    margin-left: -6%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    position: relative;
}

.card-img {
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;

    width: 285px;
    margin-left: 3%;
    margin-right: 4%;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    padding-left: 8px;
    height: 50px;
}


.overlay>p {
    font-family: 'Inter', sans-serif;

    font-weight: 500;
}

#joinus {
    font-family: 'Inria Serif', sans-serif;
    font-size: 30px;
    margin-left: 15%;
    font-weight: 400;
}

#joinpara {
    font-family: 'Abhaya Libre Medium', sans-serif;
    margin-left: 15%;
    margin-right: 20%;
    font-size: 20px;
}




footer {
    background-color: #f2f2f2;
    padding: 20px 0;
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.left-section {
    flex: 1;
}

.left-section h4 {
    margin-bottom: 10px;
    margin-left: 5%;
}


.right-section {
    display: flex;
}


.containerx {
    width: 100%;
    height: 100vh;

    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav {

    background-color: white;
    display: flex;
    padding: 10px 60px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

}

.left-nav {
    width: 20%;
    height: 20%;
    /* background-color:aqua; */
}

.logo {
    width: 20px;
    height: 20px;
    margin-top: -25%;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 20px;
    /* background-color:blanchedalmond; */
}

ul li {
    padding: 0px 10px;
    font-size: 1.1em;

}

ul li a {
    text-decoration: none;
    color: black;
}

header {
    background-color: white;
    font-family: 'Martel', sans-serif;
    display: flex;
    padding: 10px;
    flex-direction: column;
    /* background-color:aqua; */
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

}

header .header-1 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'martel', sans-serif;
    letter-spacing: 15px;
    font-size: 2em;
    color: rgb(94, 94, 92);
    margin-bottom: 15px;
}

header .header-2 {
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

header button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
}

.notebook {
    width: 100%;
    /* background-color:rgb(111, 255, 0); */
    height: 99vh;
    display: flex;
    justify-content: center;
    padding: 20px;
    overflow: hidden;
}

.notebook img {
    height: 90%;
    width: 95%;
    object-fit: cover;
    border-radius: 10px;
}